SeaShellsWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://org.jesperancinha.shells/SeaShellsWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeaShellsWSDLFile" targetNamespace="http://org.jesperancinha.shells/SeaShellsWSDLFile/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://org.jesperancinha.shells/SeaShellsWSDLFile/">
      <xsd:element name="persons">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="personId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="personsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="personsRequest">
    <wsdl:part element="tns:persons" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="personsResponse">
    <wsdl:part element="tns:personsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SeaShellsWSDLFile">
    <wsdl:operation name="persons">
      <wsdl:input message="tns:personsRequest"/>
      <wsdl:output message="tns:personsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeaShellsWSDLFileSOAP" type="tns:SeaShellsWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="persons">
      <soap:operation soapAction="http://org.jesperancinha.shells/SeaShellsWSDLFile/persons"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeaShellsWSDLFile">
    <wsdl:port binding="tns:SeaShellsWSDLFileSOAP" name="SeaShellsWSDLFileSOAP">
      <soap:address location="http://localhost:8080/seashells/persons"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
