sea-shell-soap-wiremock/sea-shell-soap-service/src/main/resources/mock/responses/persons/SeaShellsWSDLPersons.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://org.jesperancinha.shells/SeaShellsWSDLPersons/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="SeaShellsWSDLPersons" targetNamespace="http://org.jesperancinha.shells/SeaShellsWSDLPersons/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://org.jesperancinha.shells/SeaShellsWSDLPersons/">
            <xsd:element name="personsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="personId" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Person">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Name" type="xsd:string"/>
                        <xsd:element name="Activity" type="xsd:string"/>
                        <xsd:element name="CostumeId" type="xsd:long"/>
                        <xsd:element name="AccountId" type="xsd:string"/>
                        <xsd:element name="ShellId" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="personsRequest">
        <wsdl:part element="tns:personsRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="Person">
        <wsdl:part element="tns:Person" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="SeaShellsWSDLPersons">
        <wsdl:operation name="persons">
            <wsdl:input message="tns:personsRequest"/>
            <wsdl:output message="tns:Person"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SeaShellsWSDLPersonsSOAP" type="tns:SeaShellsWSDLPersons">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="persons">
            <soap:operation soapAction="http://org.jesperancinha.shells/SeaShellsWSDLPersons/persons"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SeaShellsWSDLPersons">
        <wsdl:port binding="tns:SeaShellsWSDLPersonsSOAP" name="SeaShellsWSDLPersonsSOAP">
            <soap:address location="http://localhost:8090/seashells/persons"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
