sea-shell-soap-wiremock/sea-shell-soap-service/src/main/resources/mock/responses/accounts/SeaShellsWSDLAccounts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://org.jesperancinha.shells/SeaShellsWSDLAccounts/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeaShellsWSDLAccounts" targetNamespace="http://org.jesperancinha.shells/SeaShellsWSDLAccounts/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://org.jesperancinha.shells/SeaShellsWSDLAccounts/">
      <xsd:element name="accounts">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="accountsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="accountsRequest">
    <wsdl:part element="tns:accounts" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="accountsResponse">
    <wsdl:part element="tns:accountsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SeaShellsWSDLAccounts">
    <wsdl:operation name="accounts">
      <wsdl:input message="tns:accountsRequest"/>
      <wsdl:output message="tns:accountsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeaShellsWSDLAccountsSOAP" type="tns:SeaShellsWSDLAccounts">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="accounts">
      <soap:operation soapAction="http://org.jesperancinha.shells/SeaShellsWSDLAccounts/accounts"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeaShellsWSDLAccounts">
    <wsdl:port binding="tns:SeaShellsWSDLAccountsSOAP" name="SeaShellsWSDLAccountsSOAP">
      <soap:address location="http://localhost:8090/seashells/accounts"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
