sea-shell-soap-wiremock/sea-shell-soap-service/src/main/resources/mock/responses/shells/SeaShellsWSDLShells.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://org.jesperancinha.shells/SeaShellsWSDLShells/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeaShellsWSDLShells" targetNamespace="http://org.jesperancinha.shells/SeaShellsWSDLShells/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://org.jesperancinha.shells/SeaShellsWSDLShells/">
      <xsd:element name="shells">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="shellId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="shellsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="shellsRequest">
    <wsdl:part element="tns:shells" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="shellsResponse">
    <wsdl:part element="tns:shellsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SeaShellsWSDLShells">
    <wsdl:operation name="shells">
      <wsdl:input message="tns:shellsRequest"/>
      <wsdl:output message="tns:shellsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeaShellsWSDLShellsSOAP" type="tns:SeaShellsWSDLShells">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="shells">
      <soap:operation soapAction="http://org.jesperancinha.shells/SeaShellsWSDLShells/shells"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeaShellsWSDLShells">
    <wsdl:port binding="tns:SeaShellsWSDLShellsSOAP" name="SeaShellsWSDLShellsSOAP">
      <soap:address location="http://localhost:8080/seashells/shells"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
