sea-shell-soap-wiremock/sea-shell-cli-lowers/src/main/resources/SeaShellsWSDLLowers.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://org.jesperancinha.shells/SeaShellsWSDLLowers/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="SeaShellsWSDLLowers" targetNamespace="http://org.jesperancinha.shells/SeaShellsWSDLLowers/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://org.jesperancinha.shells/SeaShellsWSDLLowers/">
            <xsd:element name="lowers">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="lowerId" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="lowersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="lowersRequest">
        <wsdl:part element="tns:lowers" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="lowersResponse">
        <wsdl:part element="tns:lowersResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="SeaShellsWSDLLowers">
        <wsdl:operation name="lowers">
            <wsdl:input message="tns:lowersRequest"/>
            <wsdl:output message="tns:lowersResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SeaShellsWSDLLowersSOAP" type="tns:SeaShellsWSDLLowers">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="lowers">
            <soap:operation soapAction="http://org.jesperancinha.shells/SeaShellsWSDLLowers/lowers"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SeaShellsWSDLLowers">
        <wsdl:port binding="tns:SeaShellsWSDLLowersSOAP" name="SeaShellsWSDLLowersSOAP">
            <soap:address location="http://localhost:8090/seashells/lowers"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
